extends layout

block content
  if products
    table(border='1')
      tr
        th Product Name
        th Description
        th Price
        th(colspan='3') Action
      each product, i in products
        tr
          td= product.product_name
          td= product.description
          td= product.price
          td
            a(href=`/products/show/${product._id}`) Detail
          td
            a(href=`/products/edit/${product._id}`) Edit
          td
            a(class='deleteProduct', data-id=`${product._id}`, href='#') Delete
  else
    p There are no products to display
